// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin animation($animationType) {
  -webkit-animation: $animationType; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: $animationType; /* Firefox < 16 */
  -ms-animation: $animationType; /* Internet Explorer */
  -o-animation: $animationType; /* Opera < 12.1 */
  animation: $animationType;
}

@mixin animation-fill-mode($animationMode) {
  -webkit-animation-fill-mode: $animationMode; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: $animationMode;
  animation-fill-mode: $animationMode;
}

@mixin animation-delay($detail) {
  -webkit-animation-delay: $detail;
  -moz-animation-delay: $detail;
  animation-delay: $detail;
}

.about-page {
  padding-top: 130px;
  padding-bottom: 20px !important;

  .left-side {
    margin-top: 10vh;
    color: black;
    text-align: left;
  }

  .fadein {
    opacity: 0;

    @include animation(fadein 2s);
    @include animation-fill-mode(forwards);
  }

  .title {
    @include animation-delay(0.7s);
    font-size: 42px;
    font-weight: bold;
    color: #7510f7;
  }

  .subtitle {
    @include animation-delay(2.2s);
    font-size: 33px;
    color: #7510f7;
  }

  .subsubTitle {
    @include animation-delay(3.6s);
    font-size: 18px;
  }

  .nounderline {
    text-decoration: none !important;
  }

  .icons {
    @include animation-delay(4.5s);
    font-size: 33px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }
  .icons:hover {
    background-color: #7510f7;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-100px);
    color: #ffff;
  }

  .code-icons {
    @include animation-delay(4.5s);
    font-size: 50px;
    color: #7510f7;
  }
  .code-title {
    @include animation-delay(4.5s);
    font-size: 25px;
    font-weight: bold;
  }

  .code-subsubtitle {
    @include animation-delay(4.5s);
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
