.about-page {
  padding-top: 130px;
  padding-bottom: 20px !important;

  .left-side {
    margin-top: 10vh;
    color: black;
    text-align: left;
  }

  .title {
    font-size: 42px;
    font-weight: bold;
    color: #7510f7;
  }

  .subtitle {
    font-size: 33px;
    color: #7510f7;
  }

  .subsubTitle {
    font-size: 18px;
  }

  .nounderline {
    text-decoration: none !important;
  }

  .icons {
    font-size: 33px;
  }
  .icons:hover {
    background-color: #7510f7;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-100px);
    color: #ffff;
  }

  .code-icons {
    font-size: 50px;
    color: #7510f7;
  }
  .code-title {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 760px) {
  .about-page {
    padding-top: 40px !important;
  }
}

.dark {
  .about-page {
    .subsubTitle {
      color: #e4e6eb;
    }

    .code-title {
      color: #e4e6eb;
    }
  }

  @media (max-width: 760px) {
    .about-page {
      padding-top: 40px !important;
    }
  }
}
