.contact-page {
  padding-top: 130px;
  // text-align: center;

  .form-wrapper {
    // width: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  h1 {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    color: #111;
    font-weight: 500;
  }

  .input-group {
    margin: 15px;
  }
}

@media (max-width: 900px) {
  .contact-page {
    padding-top: 70px;
    .form-wrapper {
      background-color: #ecedee;
      border-radius: 0px;
      padding: 30px 00px;
      box-shadow: 0px 0px 0px #ecedee;
    }
    h1 {
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 300px) {
  .contact-page {
    padding-top: 100px;
    .form-wrapper {
      background-color: #ecedee;
      border-radius: 0px;
      padding: 30px 00px;
      box-shadow: 0px 0px 0px #ecedee;
    }
    h1 {
      padding-bottom: 20px;
    }
  }
}

.dark {
  .contact-page {
    .form-wrapper {
      background-color: rgba(228, 230, 225, 0.5);
    }

    h1 {
      color: #e4e6eb;
    }

    .input-group {
      margin: 15px;
    }
  }

  @media (max-width: 900px) {
    .contact-page {
      .form-wrapper {
        background-color: #2b2c38;
      }
    }
  }

  @media (max-width: 300px) {
    .contact-page {
      .form-wrapper {
        background-color: #2b2c38;
      }
    }
  }
}
