// Components
@import "./components/header";
@import "./components/blogComment";

// Pages
@import "./pages/about";
@import "./pages/blogs";
@import "./pages/index";
@import "./pages/portfolio-detail";
@import "./pages/portfolios";
@import "./pages/projects";
@import "./pages/contact.scss";
@import "./pages/blog-detail";

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica" !important;
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 100px;
  padding-bottom: 50px;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.absolute {
  position: absolute;
}

.self-typed {
  font-size: 31px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.avatar-box {
  img {
    height: 50px;
    border-radius: 50%;
  }

  .subtitle {
    font-size: 14px;
  }
}

.page-footer {
  border-top: 0.1px solid;
  border-color: #cccccc;
  min-height: 10vh;
  padding: 15px;
  background-color: #ecedee;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  // z-index: 99;

  transition: 0.3s;

  a {
    color: #63696e;
  }

  .icons {
    @include animation-delay(4.5s);
    font-size: 33px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  }
  .icons:hover {
    background-color: #7510f7;
    border-radius: 50%;
    padding: 10px;
    transform: translateY(-100px);
    color: #ffff;
  }

  .nounderline {
    text-decoration: none !important;
  }
}

.dark {
  .page-footer {
    background: #2b2c38;
    transition: color 0s ease-out 0s, background 0.2s ease-out 0s;

    div {
      color: #e4e6eb;
    }
  }
}
